

<p id="notice"><%= notice %></p>

<h1>Rented Cars</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <br>
  <br>
  <br>
  <br>
  <br>
    <% @rented_cars.each do |rented_car| %>
      <tr>
        <td><%= link_to 'Show', rented_car %></td>
        <td><%= link_to 'Edit', edit_rented_car_path(rented_car) %></td>
        <td><%= link_to 'Destroy', rented_car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rented Car', new_rented_car_path %>
