<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--=== Favicon ===-->
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <%= favicon_link_tag 'logo.png' %>


  <title>Car Rental</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <script src="jquery.raty.js"></script>

  <!--[if lt IE 9]>
  <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>
<%= render 'layouts/header' %>
<%= render 'layouts/preloader' %>
<%= yield %><br>
<%= render 'layouts/footer' %>
</body>
</html>
