<%= form_for([@car, @review]) do |form| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% @review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!--  <div class="field">-->
  <%#= form.label :user_id %>
  <%#= form.text_field :user_id %>
  <!--  </div>-->
  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-5">

      <% if @car.image.attached? %>
        <div class="recent-tip-thum">
          <a href="#"><%= image_tag(@car.image) %></a>
          <h3><%=@car.model %></h3>
        </div>
      <% end %>
      <br>
      <br>
    </div>
  </div>
  <!--  <div class="field">-->
  <%#= form.label :car_id %>
  <%#= form.text_field :car_id %>
  <!--  </div>-->
  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-4">
      <div class="field">
        <%#= form.label :rank %>
        <div id="star-rating">
        </div>
      </div>
      <br>
    </div>
  </div>
  <div class="field">
    <%= form.text_area(:content, size: '100x10', placeholder: "
    Write Your Feedback Here....", autofocus: true) %>
  </div>


  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-4">
      <div class="actions input-submit">
        <%= form.submit 'Commit', :class => "rent-btn" %>
      </div>
    </div>
  </div>
<% end %>

<!--<script>-->
<!--    $('.star-rating').raty({-->
<!--        path: '/assets/',-->
<!--        click: true,-->
<!--        hints: ['bad', 'poor', 'regular', 'good', 'gorgeous'],-->
<!--        score: function() {-->
<!--            return $(this).attr('data-score');-->
<!--        }-->
<!--    });-->
<!--</script>-->

<script>
    $('#star-rating').raty({
        path: '/assets/',
        hints: ['bad', 'poor', 'regular', 'good', 'gorgeous'],
        scoreName: 'review[rank]'
    });
</script>