<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <title>Catalogue</title>
</head>

<body class="loader-active">

<!--== Page Title Area Start ==-->
<section id="page-title-area" class="section-padding overlay">
  <div class="container">
    <div class="row">
      <!-- Page Title Start -->
      <div class="col-lg-12">
        <div class="section-title  text-center">
          <h2>Our Cars</h2>
          <span class="title-line"><i class="fa fa-car"></i></span>
          <p>We are here for you.</p>
        </div>
      </div>
      <!-- Page Title End -->
    </div>
  </div>
</section>
<!--== Page Title Area End ==-->

<!--== Car List Area Start ==-->
<section id="car-list-area" class="section-padding">
  <div class="container">
    <p id="notice"><%= notice %></p>
    <% i = 0 %>
    <% while i < @cars.length %>
      <div class="row">
        <!-- Car List Content Start -->
        <div class="col-lg-12">
          <div class="car-list-content">
            <div class="row">
              <!-- Single Car Start -->
              <div class="col-lg-6 col-md-6">
                <div class="single-car-wrap">
                  <div class="car-list-thumb ">
                    <% if @cars[i].image.attached? %>
                      <%= image_tag(@cars[i].image) %>
                    <% end %>

                  </div>
                  <br>
                  <div class="car-list-info without-bar">
                    <br>
                    <div class="row">
                      <div class="col-sm-9">
                        <h2><%= @cars[i].model %></h2>
                      </div>
                      <div class="col-sm-3">
                        <p class="rating">
                          <%@cars[i].calculate_car_rate(@cars[i].id)%>
                          <div class="star-rating" data-score=<%= @cars[i].rank.ceil %>></div>
                        </p>
                      </div>
                    </div>
                    <h5><%= @cars[i].rent %>$ Rent /per a day</h5>
                    <p><%= @cars[i].discription %></p>
                    <ul class="car-info-list">
                      <li>AC</li>
                      <li>Auto</li>
                      <li>Diesel</li>
                    </ul>

                    <% if @cars[i].airconditioned %>

                    <% else %>

                    <% end %>

                    <% if @cars[i].automatic %>
                    <% else %>

                    <% end %>
                    <div class="row">
                      <div class="col-sm-2">
                        <%= link_to 'Details', @cars[i], class: "rent-btn" %>
                      </div>
                      <!--                      <div class="col-sm-1"></div>-->
                      <% if logged_in? %>
                        <div class="col-sm-2">
                          <% if current_user.car_not_saved?(@cars[i].id) %>
                            <%= link_to "Save", save_car_path(user: current_user, savedcar: @cars[i]), class: "rent-btn", method: :post %>
                          <% else %>
                            <%= link_to "Unsave", saved_car_path(@cars[i]), method: :delete, class: "rent-btn" %>
                          <% end %>
                        </div>
                        <div class="col-sm-2">
                          <% if current_user.car_not_rented?(@cars[i].id) %>
                            <!-- saving the car in the browser session hash-->
                            <%logger.info "car id =: #{@cars[i].id}" %>
                            <%= link_to "Rent", rented_cars_new_path(:car_id =>@cars[i].id),:method => :post,session[:car_id]=>@cars[i].id, class: "rent-btn" %>
                          <% else %>
                            <%= link_to "Cancel", rented_car_path(@cars[i]), method: :delete, class: "rent-btn" %>
                          <% end %>
                        </div>


                      <% end %>
                      <!--                      <div class="col-sm-1"></div>-->
                      <% if logged_in? && current_user.admin? %>
                        <div class="col-sm-2">
                          <%= link_to 'Edit', edit_car_path(@cars[i]), class: "rent-btn" %>
                        </div>
                        <!--                        <div class="col-sm-1"></div>-->
                        <div class="col-sm-2">
                          <%= link_to 'Delete', @cars[i], method: :delete, data: {confirm: 'Are you sure?'}, class: "rent-btn" %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
              <% i += 1 %>
              <!-- Single Car End -->
              <% if i < @cars.length %>
                <!-- Single Car Start -->
                <div class="col-lg-6 col-md-6">
                  <div class="single-car-wrap">
                    <div class="car-list-thumb">
                      <% if @cars[i].image.attached? %>
                        <%= image_tag(@cars[i].image) %>
                      <% end %>

                    </div>
                    <br>
                    <div class="car-list-info without-bar">
                      <br>
                      <div class="row">
                        <div class="col-sm-9">
                          <h2><%= @cars[i].model %></h2>
                        </div>
                        <div class="col-sm-3">
                          <p class="rating">
                            <%@cars[i].calculate_car_rate(@cars[i].id)%>
                            <div class="star-rating" data-score=<%= @cars[i].rank.ceil %>></div>
                          </p>
                        </div>
                      </div>
                      <h5><%= @cars[i].rent %>$ Rent /per a day</h5>
                      <p><%= @cars[i].discription %></p>
                      <ul class="car-info-list">
                        <li>AC</li>
                        <li>Auto</li>
                        <li>Diesel</li>
                      </ul>
                      <% if @cars[i].airconditioned %>

                      <% else %>

                      <% end %>

                      <% if @cars[i].automatic %>
                      <% else %>

                      <% end %>
                      <div class="row">
                        <div class="col-sm-2">
                          <%= link_to 'Details', @cars[i], class: "rent-btn" %>
                        </div>
                        <!--                        <div class="col-sm-1"></div>-->
                        <% if logged_in? %>
                          <div class="col-sm-2">
                            <% if current_user.car_not_saved?(@cars[i].id) %>
                              <%= link_to "Save", save_car_path(user: current_user, savedcar: @cars[i]), class: "rent-btn", method: :post %>
                            <% else %>
                              <%= link_to "Unsave", saved_car_path(@cars[i]), method: :delete, class: "rent-btn" %>
                            <% end %>
                          </div>

                          <div class="col-sm-2">
                            <% if current_user.car_not_rented?(@cars[i].id) %>
                              <!-- saving the car in the browser session hash-->
                              <%#logger.info "car id =: #{@cars[i].id}" %>
                              <%= link_to "Rent", rented_cars_new_path(:car_id =>@cars[i].id),:method => :post,session[:car_id]=>@cars[i].id, class: "rent-btn" %>
                              <%#logger.info "car id =: #{session[:rentedcar_id]}" %>
                            <% else %>
                              <%= link_to "Cancel", rented_cars_path(@cars[i]), method: :delete, class: "rent-btn" %>
                            <% end %>
                          </div>
                        <% end %>
                        <!--                        <div class="col-sm-1"></div>-->
                        <% if logged_in? && current_user.admin? %>
                          <div class="col-sm-2">
                            <%= link_to 'Edit', edit_car_path(@cars[i]), class: "rent-btn" %>
                          </div>
                          <!--                          <div class="col-sm-1"></div>-->
                          <div class="col-sm-2">
                            <%= link_to 'Delete', @cars[i], method: :delete, data: {confirm: 'Are you sure?'}, class: "rent-btn" %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Single Car End -->
              <% end %>
              <% i += 1 %>
    <% end %>
    </div>
    </div>

    <!-- Page Pagination Start -->
    <div class="page-pagi">
      <nav aria-label="Page navigation example">
        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
            <%= will_paginate %>
          </div>
          <div class="col-sm-4"></div>
        </div>
      </nav>
    </div>
    <!-- Page Pagination End -->
    </div>
    <!-- Car List Content End -->
    </div>
  </div>
</section>
<!--== Car List Area End ==-->

</body>

</html>



<script>
    $('.star-rating').raty({
        path: '/assets/',
        readOnly: true,
        score: function () {
            return $(this).attr('data-score');
        }
    });
</script>