<%= form_with(model: car, local: true) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
        <% car.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.file_field :image %>
  </div>



  <div class="field">
    <%= form.text_field :model , class: "form-control",  autofocus: true, placeholder: "Model..."%>
  </div>

  <div class="field">
    <%= form.number_field :production_year,class: "form-control",  autofocus: true, placeholder: "Production Year..." %>
  </div>

  <div class="field">
    <%= form.text_area :description,class: "form-control",  autofocus: true, placeholder: "Description..." %>
  </div>

  <div class="field">
    <%= form.text_area :rank,class: "form-control",  autofocus: true, placeholder: "Rank..." %>
  </div>

  <div class="field">
    <%= form.text_area :rent,class: "form-control",  autofocus: true, placeholder: "Rent..." %>
  </div>

  <div class="field">
    <%= form.number_field :seats,class: "form-control",  autofocus: true, placeholder: "Number of seats..." %>
  </div>

  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-4">
      <div class="field">
        <%= form.label :aircondition %>
        <%= form.check_box :aircondition ,class: "form-control"%>
      </div>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-4">
      <div class="field">
        <%= form.label :automatic %>
        <%= form.check_box :automatic, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
      <div class="log-btn">
        <%= form.submit "Done",class: "btn" %>
      </div>
    </div>
  </div>

<% end %>
